


div{

display: block;
height: 200px;
width: 200px;
text-align: center;
position: absolute;
z-index: 1;


}

#box1{
display: block;
background-color: red;
z-index: 2;
top: 0;
padding: 10px;



}

#box2{
display: block;
background-color: rgb(0, 60, 255);
top: 200;
padding: 10px;
z-index: 3;


}

#box3{
display: block;
background-color: rgb(47, 255, 0);

top: 500;
z-index: 3;
padding: 10px;


}