
body {
   
    margin: 0;
    padding: 0;
}

.container {
    
    font-size: 0; 
    display: flex;

}

.section {
   
    display: inline-block; 
    border: 2px solid grey;    
    padding: 5px;  
    font-size: 16px; 
    text-align: center;
}


#sidebar {
    width: 20%;
    height: 200px;
    background-color: #e2b88e;
}

#main {
    width: 60%;
    height: 100px;
    background-color: #c7e69b;
}

#advertisement {

    width: 20%;
    height: 200px;
    background-color: #b5c9db;
}


h3 {
    margin-top: 0;
    color: #333;
    text-align: center;
   
}




