*{
    padding:0px;
    margin: 0;
   

}
.nav{
    display: block;
    height: 60px;
    width: 100%;
    background-color: #000000; 
    text-align: center;
 
}
a{
       color: rgb(255, 255, 255);
       text-decoration: none;
       margin:0px 200px 0px 2px;
       padding: 10px;

}
nav:hover {
  background-color: #f57f8f;
  color: #000000;
}
